[submodule "ThirdParty"]
	path = ThirdParty
	url = https://github.com/demonixis/YnaEngine-ThirdParty.git
[submodule "Samples"]
	path = Samples
	url = https://github.com/demonixis/YnaEngine-Samples.git
